body{
    margin: 0;
    font-family: Arial,sans-serif;
}
.navbar{
    background-color: #333333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;

}
.nav-links li{
    display: inline;
}
.nav-links a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}